body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 600px;
  }
  
  h1, h2 {
    color: #2c3e50;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  input {
    padding: 8px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
  }
  
  button {
    padding: 10px 20px;
    background-color: #c77a23;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #e9b013;
  }
  
  #result {
    margin-top: 20px;
  }
  
  #age-image {
    width: 100%;
    max-width: 200px;
    margin-top: 15px;
    border-radius: 8px;
  }
  
  table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #c77a23;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  